@charset "utf-8";



/* HTML and Body Styles */

 html {
	 Background-color: rgb(200,200,200);
 }



/* Heading Styles */

h1 {
  text-align: center;
  background-color: rgb(80, 80, 80);
  color: rgb(255, 255, 255);
  font-family: "Garamond", Garamond, serif;
  font-size: 60px;
}

ul {
  font-family: "Lucida Console", "Courier New", monospace;
}

img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

li{
  margin: 20px 0;
}


/*